.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.container-btn{
  padding: 4rem;
}

.btn{
  border-radius: 10px;
  padding: 1rem 2rem;
  color: aqua;
  background-color: #3213e2;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: 500;
}

body {
  background-color: #020202;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #e2280f;
  font-size: 8rem;
  color: #e2e616;
}

p {
  font-size: 2rem;
  color: #17eb22;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #e7e0e0;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
